<!DOCTYPE html>
<html>
<head>
    <title>Happy Birthday Flask App</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>

    <img src="/static/Birthday.jpeg" alt="header" width="1150" height="150"><br><br>
    <h1>Save and Update Data</h1>

    <form method="POST" action="/hello/<username>">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required><br>

        <label for="date_of_birth">Date of Birth:</label>
        <input type="date" name="date_of_birth" id="date_of_birth" required><br>

        <input type="submit" value="Add User">
    </form>
       <h2>Birthday Message</h2>
       <form action="/hello/<username>" method="GET">
       <label for="username">Username:</label><br>
       <input type="text" id="username" name="username"><br><br>
       <button type="submit">Get Birthday Message</button>
    </form>



</body>
</html>